html,
body {
    position: relative;

    background-color: var(--col-weiss);
    font-family: "avenir", sans-serif;

    min-height: 100vh;
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

:root {
    --col-weiss: #ffffff;
    --col-hellblau: #d6e6ea;
    --col-dunkelblau: #083c4b;
    --col-blau: #376E80;
    --col-rot: #ff9224;

    --margin-rand: 9vw;
    --margin-klein: 3vw
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-weight: 900;
    font-size: 13.5vw;

}

h2 {
    font-weight: 850;
    font-size: 2vw;
}

h3 {
    font-weight: 900;
    font-size: 2.4vw;
}

h4 {
    font-weight: 400;
    font-size: 1.4vw;
}

@media (max-width: 1100px) {
    h4 {
        font-size: 1.7vw;
    }
}

@media (max-width: 750px) {
    h4 {
        font-size: 2vw;
    }
}


h5 {
    font-weight: 400;
    font-size: 1rem;
    column-count: 2;      /* Text auf zwei Spalten verteilen */
    column-gap: var(--margin-klein);     /* Abstand zwischen den Spalten */

    color: var(--col-dunkelblau);
}

h6 {
    font-weight: 700;
    font-size: 0.7rem;
}

/* MAIN */
.content {
    flex: 1;
    margin: clamp(2rem, 9vw, 8rem); /* (min, preferred, max) */
}

/* header ist der Bezugspunkt für alle Elemente darin.
   Die Prozentwerte der Titel-Wörter beziehen sich auf seine Grösse. */
header {
    position: relative;
}

#header {
    display: block;
    width: 100%;
    height: auto;
}

/* Titel */
.title h1,
.title h3 {
    position: fixed;
    z-index: 20;
    line-height: 1;
    white-space: nowrap;        /* Wort wird nie umgebrochen */
    color: var(--col-weiss);
    transition: left 0.8s ease, top 0.8s ease;  /* Animation: Wenn sich left oder top ändern, gleitet das Wort in 0.8 Sekunden an die neue Stelle */
    text-box: trim-both cap alphabetic;  /* leeren Platz oben und unten abschneiden */
}


/* Zustand: ganz oben, Titel in der Mitte */
.oben #vom  { left: 17vw; top: 17vw; }
.oben #eis  { left: 24vw; top: 17vw; }
.oben #zum  { left: 38vw; top: 29.6vw; }
.oben #meer { left: 45vw; top: 22vw; }

/* Zustand: nach unten gescrollt, Titel links */
#vom  { left: 7.7vw; top: 7vw;}
#eis  { left: 6.8vw; top: 10.25vw; }
#zum  { left: 7.7vw; top: 21.4vw;}
#meer { left: 6.8vw; top: 24.5vw; }

/* Bild und Text teilen sich dieselbe Zelle, liegen also übereinander */
.intro {
    display: grid;
    position: relative;
}



.text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.text2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


#hintergrund_hell {
    position: absolute;
    inset: 0;                        /* Bild füllt den Abschnitt in Breite und Höhe */
    width: 100%;
    height: 100%;
    object-fit: fill;                /* Bild darf sich strecken */
    z-index: 10;
}


/* Textblock liegt vor dem Bild */
.intro .text {
    position: relative;
    z-index: 30;
    align-self: start;                    /* Text beginnt oben im Abschnitt */
    margin-top: 6vw;                      /* Abstand nach oben */
    margin-left: 50%;                     /* Text beginnt rechts von der Mitte, wie im Wireframe */
    margin-right: var(--margin-rand);
    color: var(--col-blau);
    padding-bottom: 59vw;
}

.intro .text2 {
    position: relative;
    z-index: 30;
    align-self: start;                    /* Text beginnt oben im Abschnitt */
    margin-top: 14vw;                      /* Abstand nach oben */
    margin-left: 50%;                     /* Text beginnt rechts von der Mitte, wie im Wireframe */
    margin-right: var(--margin-rand);
    color: var(--col-hellblau);
}


/* Gemeinsamer Container: bestimmt Breite und Mitte für Titel und Box */
#grafik1 {
    width: calc(100% - 2 * var(--margin-rand));  /* Platz für den Seitenrand lassen */
    max-width: 900px;
    margin: -25vw auto 0;           /* mittig; oben 10vw, unten 0, negativer Wert zieht die Grafik nach oben */

    position: relative;
    z-index: 40;

    color: var(--col-dunkelblau);
}

#grafik1 h2{
    margin-bottom: var(--margin-klein);
}

/* Gemeinsamer Container: bestimmt Breite und Mitte für Titel und Box */
#grafik2 {
    width: calc(100% - 2 * var(--margin-rand));  /* Platz für den Seitenrand lassen */
    max-width: 900px;
    margin: var(--margin-rand) auto var(--margin-rand);           /* mittig; oben 10vw, unten 0, negativer Wert zieht die Grafik nach oben */

    position: relative;
    z-index: 40;

    color: var(--col-dunkelblau);
}

#grafik2 h2{
    margin-bottom: var(--margin-klein);
}


#chart {
    z-index: 50;
    position: relative;
}

#chart2 {
    z-index: 50;
    position: relative;
}

.box {
    background-color: var(--col-weiss);
    border: 6px solid var(--col-hellblau);
    border-radius: 40px;
    padding: 1rem;
    width: 100%;
    max-width: 900px;

    position: relative;
    z-index: 40;

    margin-bottom: var(--margin-klein);
}

#hintergrund_dunkel {
    width: 100%;
    height: auto;
    bottom: 0;
    display: block;
}

.footer {
    background-color: var(--col-dunkelblau);
    width: 100%;
    height: 10vw;
    padding: var(--margin-rand);
    padding-bottom: var(--margin-klein);

    color: var(--col-hellblau);
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: space-between;
}